.headimage {
	background-image: url(../img/burninghead.png) ;
	max-width:100%;
	background-repeat: no-repeat;

	h1 {
		color: #fff;
		margin: 0  0 10px 0;
	}

	a {
		color: #fff;
	}
}

img {
	max-width:100%;
}